<html>
<head>
{% load static %}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

<!-- Include our own CSS style sheet -->
<link rel="stylesheet" type="text/css" href="{% static 'listen/style.css' %}" />
</head>
<body>
	<!-- Have to include jQuery for stuff to work! -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!-- Including our own custom javascript/JQuery -->
	<script type="text/javascript" src="{% static 'listen/listen.js' %}"></script>

	<div class="container test-container" id="splash">
		<div class="header clearfix">
			<!--<nav>
				<ul class="nav nav-pills pull-right">
					<li role="presentation" class="active"><a href="#">Home</a></li>
					<li role="presentation"><a href="#">About</a></li>
					<li role="presentation"><a href="#">Contact</a></li>
				</ul>
			</nav>
		<h3 class="text-muted">LISTen - yadda yadda cool slogan here</h3>-->
		</div>

		<div class="space-div"></div>

		<div class="jumbotron">
			<!-- <h1>LISTen</h1> -->
			<center><img src="{% static 'listen/images/Assets_Logo.png' %}" class="img-responsive" alt="LISTen logo" /></center>

			<div class="small-space-div"></div>

			<p class="lead">helps you learn languages on-the-go by<br />curating playlists just for you!</p>
			<div class="small-space-div"></div>
			<!--<p><a class="btn btn-success btn-lg" href="#langSelect" id="startBtn" role="button">Get Started</a></p>-->
			<p><a class="greatButton" href="#langSelect" id="startBtn" role="button">GET STARTED</a></p>
		</div>
	</div>

	<div class="other-colour">

	<div class="small-space-div"></div>
	<div class="small-space-div"></div>
	<div class="small-space-div"></div>

	<div class="container" id="main_content">

			<!--<a href="#" class="greatButton">Get Started</a>-->
	<center id="langSelect">
		<p class="lead">I want to learn...</p>
		<div class="dropdown">
			<!--<button class="btn btn-sky dropdown-toggle" type="button" data-toggle="dropdown">Français  <span class="caret"></span></button>-->
			<button class="lang-select-button dropdown-toggle" type="button" data-toggle="dropdown">FRANÇAIS       <span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li><a href="#skillLevel">FRANÇAIS</a></li>
				<li class="disabled"><a href="#">Español</a></li>
				<li class="disabled"><a href="#">More coming soon!</a></li>
			</ul>
		</div>
	</center>
	<img src="{% static 'listen/images/Illustrations_Color_Paris_Banner.png' %}" class="img-responsive" alt="Mockup" />

	<div class="small-space-div"></div>
	<div class="small-space-div"></div>
	<div class="small-space-div"></div>

	<form action="/listen/make-playlist/" name="submitform" method="post">
	{% csrf_token %}

	<div class="row">
		<div class="col-md-4">
			<!--<div class="radio" >
			<label style="font-size: 24px;"><input type="radio" name="optradio"">TEST</label><br/>

			<img src="{% static 'listen/images/Illustrations_Paris_Beginning.png' %}" alt="Beginner">
			</div>-->
			<input type="radio" id="radio1" value="checked" name="level" >
			<label for="radio1" style="/*font-size: 24px;*/">I AM A BEGINNER</label>
			<img src="{% static 'listen/images/Illustrations_Color_Paris_Beg.png' %}" alt="Beginner">
		</div>
		<div class="col-md-4">
			<input type="radio" id="radio2" name="level">
			<label for="radio2" >I AM AN INTERMEDIATE</label>
			<img src="{% static 'listen/images/Illustrations_Color_Paris_Int.png' %}" alt="Intermediate">
		</div>
		<div class="col-md-4">
			<input type="radio" id="radio3" name="level" style="position: relative; left: 57px;">
			<label for="radio3" style="position: relative; left: 57px;">I AM ADVANCED</label>
			<img src="{% static 'listen/images/Illustrations_Color_Paris_Advanced.png' %}" alt="Advanced">
		</div>
	</div>

	<div class="small-space-div"></div>
	<div class="small-space-div"></div>
	<div class="small-space-div"></div>

	<center><input type="submit" name="postbutton" class="make-playlist-button" value="MAKE MY PLAYLIST!" style="font-family: Futura;"></center>

	</form>

	<div class="small-space-div"></div>
	<div class="small-space-div"></div>
	<div class="small-space-div"></div>

	<!--
	<div class="row" id="skillLevel">
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="{% static 'listen/images/Illustrations_Paris_Beginning.png' %}" class="img-responsive" alt="Beginner">
				<div class="caption">
					<h3>Thumbnail label</h3>
					<p>...</p>
					<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="{% static 'listen/images/Illustrations_Paris_Intermediate.png' %}" class="img-responsive" alt="Intermediate">
				<div class="caption">
					<h3>Thumbnail label</h3>
					<p>...</p>
					<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="{% static 'listen/images/Illustrations_Paris_Advanced.png' %}" class="img-responsive" alt="Advanced">
				<div class="caption">
					<h3>Thumbnail label</h3>
					<p>...</p>
					<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
				</div>
			</div>
		</div>
	</div>
	-->

<!--
	<h1>Here is the mockup image:</h1>

	<img src="{% static 'listen/images/Mockups_1440x900_Annotated.png' %}" class="img-responsive" alt="Mockup" />
-->
	</div>

	<footer style="background-color: #cccccc;">

	<div class="small-space-div"></div>

	<div class="small-space-div"></div>

	<div class="small-space-div"></div>
		<center><p class="lead">Want to learn more about LISTEN?<br />Let us know at <strong>sher820@stanford.edu</strong></p></center>

	<div class="small-space-div"></div>

	<div class="small-space-div"></div>

	<div class="small-space-div"></div>
	</footer>

	</div>

	
</body>
</html>